button.clickable {
  font-size: large;
  font-weight: bold;
  background-color: #6cf;
}

div {
  padding: 10px;
  background-color: #EEE;
}

div h1 {
  ont-size: 64px;
  fnt-family: sas-serif;
  color: #0080A8;
}

.App {
  text-align: center;
}

/*
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
*/
/* gallery rules */
body {
  margin: 40px;
}

.container {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 150px 300px;
  background-color: #fff;
  color: #444;
}

.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}

.a {
  grid-column: 1 / span 3;
  text-align: center;
}

.b {
  grid-column: 1 / span 2;
  grid-row: 2;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: repeat(2, 100px);
}

.c {
  grid-row: 2;
  text-align: center;
}

button {
  font: bold 24px Arial;
  background-color: black;
  color: lime;
  padding: 2px 6px 2px 6px;
  border-radius: 10px;
  border: 1px solid #cccccc;
}